@use '../../../../shared/styles/typography' as t;
@use '../../../../shared/styles/colors' as color;

.box {
  display: flex;
  justify-content: center;
  margin: 72px 0 36px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 378px;
}

.title {
  font-size: 20px;
  margin-bottom: 37px;
  text-align: center;
}

.text {
  @include t.uik-regular-text-14;

  display: inline-block;
  margin-top: 7px;
  color: var(--color-light-900);
}

.introText {
  @include t.uik-regular-text-14;

  display: inline-block;
  margin-top: 10px;
}

.buttonBox {
  button {
    margin: 5px 0 24px;
  }

  a {
    display: inline-block;
    width: 100%;
    height: 36px;
  }

  .btnLink1 {
    min-width: 100%;
  }
  .btnLink2 {
    color: var(--color-accent-500);
    display: flex;
  }
}

.dialog {
  button {
    margin-top: 18px;
  }
}

.recaptcha {
  width: 100%;
  max-width: 300px;
  min-height: 84px;
  margin: 24px auto;
}
