.create_publication_modal {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.create_publication {
  display: flex;
  width: 222px;
  flex-direction: column;
  align-items: center;
}

.image_preview {
  width: 100%;
  height: 228px;
  outline: 1px solid white;
  margin-bottom: 60px;
}

.create_btns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.select_btn, .open_btn {
  width: 100% !important;
}
