@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 200px;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 4px solid var(--color-dark-100);
  border-top: 4px solid var(--color-accent-700);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

.text {
  font-size: 24px;
  color: var(--color-dark-100);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
