@use '../../styles/typography' as t;

.Overlay {
  position: fixed;
  z-index: var(--z-index-modal-overlay);
  inset: 0;

  background-color: var(--color-dark-700);

  animation: scale-fade-in 0.3s ease-out forwards;
}

.Content {
  position: fixed;
  z-index: var(--z-index-modal-content);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: auto;

  /* margin-left: 15px and margin-right: 15px for fixed element */
  width: calc(100% - 30px);
  border-radius: var(--border-radius-s);

  background-color: var(--color-dark-300);

  animation: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }
}

.sm {
  max-width: 378px;
}

.md {
  max-width: 492px;
}

.lg {
  max-width: 972px;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
}

.Title {
  @include t.typography(var(--font-size-xl), var(--font-weight-700), var(--line-height-l));

  margin: 0;
}

.ContentBox {
  position: relative;
  padding: 23px 24px 36px;
}

.Separator {
  height: 1px;
  border: 0;
  background: var(--color-dark-100);
}

.IconButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  border-radius: 50%;

  background: transparent;

  transition: var(--transtition-duration-basic) background-color;

  &:hover,
  &:focus-visible {
    background-color: var(--color-dark-100);
    outline: none;
  }
}

@keyframes scale-fade-in {
  from {
    transform: scale(0.1);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 0.6;
  }
}

@keyframes content-show {
  from {
    transform: translate(-50%, -48%) scale(0.96);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
