@use '../../../../../shared/styles/_colors.scss';
@use '../../../../../shared/styles/_typography.scss';

//Modal after signUp
.modalText {
  @include typography.uik-regular-text-16;

}
.buttonModal {
  float: right;
  margin-bottom: 2.25rem;
}
