@use '../../styles/typography' as t;

.Viewport {
  position: fixed;
  z-index: 2147483647;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 390px;
  max-width: 100vw;
  margin: 0 auto 30px;

  list-style: none;

  outline: none;
}

.Root {
  display: flex;
  justify-content: space-between;

  padding: 12px 12px 12px 24px;
  border-radius: var(--border-radius-s);

  background-color: red;

  &[data-state='open'] {
    animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &[data-state='closed'] {
    animation: hide 100ms ease-in;
  }

  &[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
  }

  &[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
  }

  &[data-swipe='end'] {
    animation: swipeOut 100ms ease-out;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(calc(100% + 15px));
  }

  to {
    transform: translateX(0);
  }
}

@keyframes swipe-out {
  from {
    transform: translateY(var(--radix-toast-swipe-end-x));
  }

  to {
    transform: translateX(calc(100% + 15px));
  }
}

.Description {
  color: var(--color-light-100);

  @include t.uik-regular-text-16;
}

.Action {
  cursor: pointer;
}
