@use '../../../../../../shared/styles/colors';
@use '../../../../../../shared/styles/typography';

//Modal after signUp
.modalText {
  @include typography.uik-regular-text-16;

}
.buttonModal {
  float: right;
  margin-bottom: 2.25rem;
}
