@use '../../../shared/styles/typography' as t;

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: var(--z-index-sidebar);

  width: var(--sidebar-width);
  min-height: 95vh;
  padding: 72px 60px 110px 60px;
  border-right: 1px solid var(--color-dark-100);
}

.main, .list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 25px;
  margin-bottom: 60px;
}

.link, .logoutBtn, .logout, .create, .createBtn {
  display: flex;
  gap: 10px;

  @include t.uik-medium-text-14;

  &:hover {
    cursor: pointer;
    color: var(--color-accent-500);
  }
}

.logoutBtn, .createBtn {
  transition: linear var(--transition-duration);

  &:hover {
    cursor: pointer;
    color: var(--color-accent-500);
  }
}

.active {
  color: var(--color-accent-500);
}
.logoutBtn {
  width: 100%;
  padding-left: 0;
}
