@use '../../../../../shared/styles/colors';
@use '../../../../../shared/styles/typography';

.container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.title {
  @include typography.uik-h1-typography;
}

.subtitle {
  @include typography.uik-regular-text-16;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  display: flex;
  align-items: center;
  max-width: 230px;
  text-align: start;
}

.button {
  margin-top: 2rem;
  &:hover {
    border: 4px;
  }
}
.smallText {
  margin-top: 2rem;
  font-size: 14px !important;
}

.illustration {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustrationImage {
  width: 100%;
  height: auto;
  max-width: 500px;
}
