.RadioGroupRoot {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.RadioGroupItem {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-light-100);
  border-radius: 100%;

  background-color: transparent;
  box-shadow: 0 2px 10px black;
}

.RadioGroupItem:hover {
  background-color: var(--color-dark-300);
  box-shadow: 0 0 0 8px var(--color-dark-300);
}

.RadioGroupItem:focus {
  background-color: var(--color-dark-500);
  box-shadow: 0 0 0 8px var(--color-dark-500);
}

.RadioGroupItem:active {
  background-color: var(--color-dark-100);
  box-shadow: 0 0 0 8px var(--color-dark-100);
}

.RadioGroupIndicator {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.RadioGroupIndicator::after {
  content: '';

  display: block;

  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: var(--color-text-primary);
}

.Label {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;

  padding-left: 15px;

  font-size: 15px;
  line-height: 1;
  color: white;
}

.RadioGroupItem[data-disabled] {
  cursor: not-allowed;

  border-color: #8d9094;

  opacity: 0.6;
  background-color: transparent;
  box-shadow: none;
}

.RadioGroupItem[data-disabled] .RadioGroupIndicator::after {
  background-color: #8d9094;
}

.RadioGroupItem[data-disabled]:hover,
.RadioGroupItem[data-disabled]:active,
.RadioGroupItem[data-disabled]:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}

.Label[data-disabled] {
  cursor: not-allowed;
  color: #8d9094;
  opacity: 0.7;
}

.Label[data-disabled] span {
  color: #8d9094;
}
