@use '../../../../shared/styles/typography' as t;

.box {
  display: flex;
  justify-content: center;
  margin: 72px 0 36px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 378px;
}

.title {
  @include t.uik-h1-typography;

  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.password {
  margin-top: 24px;
}

.text {
  @include t.uik-regular-text-14;

  margin-top: 10px;
  color: #8d9094;
}
