.container {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-top: 30px;
}

.users-count-wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 24px;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(4, 234px);

  width: 100%;
  max-width: 972px;

  gap: 36px 12px;
  justify-content: center;
}

.no-posts {
  display: flex;
  justify-content: center;

  grid-column: 1 / -1;

  width: 100%;

  padding: 60px 0;

  font-size: 1.2rem;
  color: #808080;
  text-align: center;
}
