.ex-btn {
  cursor: pointer;

  border: none;
  border-radius: 8px;

  font-weight: 600;

  transition: 0.2s;
}

.ex-btn-sm {
  padding: 4px 10px;
  font-size: 12px;
}

.ex-btn-md {
  padding: 7px 14px;
  font-size: 14px;
}

.ex-btn-lg {
  padding: 10px 20px;
  font-size: 16px;
}

.ex-btn-primary {
  color: white;
  background: #2563eb;
}

.ex-btn-secondary {
  color: #111827;
  background: #e5e7eb;
}

.ex-btn-danger {
  color: white;
  background: #ef4444;
}

.ex-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
