.page {
  --background: #fafafa;
  --foreground: #fff;
  --text-primary: #000;
  --text-secondary: #666;
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  padding: 120px 60px;

  background-color: var(--foreground);
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;

  text-align: left;
}

.intro h1 {
  max-width: 320px;

  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  color: var(--text-primary);
  text-wrap: balance;
  letter-spacing: -2.4px;
}

.intro p {
  max-width: 440px;

  font-size: 18px;
  line-height: 32px;
  color: var(--text-secondary);
  text-wrap: balance;
}

.intro a {
  font-weight: 500;
  color: var(--text-primary);
}

.ctas {
  display: flex;
  flex-direction: row;
  gap: 16px;

  width: 100%;
  max-width: 440px;

  font-size: 14px;
}

.ctas a {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 40px;
  padding: 0 16px;
  border: 1px solid transparent;
  border-radius: 128px;

  font-weight: 500;

  transition: 0.2s;
}

a.primary {
  gap: 8px;
  color: var(--background);
  background: var(--text-primary);
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    border-color: transparent;
    background: var(--button-primary-hover);
  }

  a.secondary:hover {
    border-color: transparent;
    background: var(--button-secondary-hover);
  }
}

@media (width <= 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;
    --text-primary: #ededed;
    --text-secondary: #999;
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
