@use '../../styles/typography' as t;

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.label {
  color: var(--color-light-900);
}

.iconStart {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  color: var(--color-light-900);

  &.error {
    color: var(--color-light-100);
  }
}

.inputContainer:focus-within .iconStart:not(.disabled) {
  color: var(--color-light-100);
}

.iconEnd {
  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 20px;

  color: var(--color-light-100);

  &.disabled {
    pointer-events: none;
    cursor: auto;
  }
}

.input {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  border: 1px solid var(--color-dark-100);
  border-radius: var(--border-radius-s);

  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--color-dark-700);
  outline: none;

  transition:
    var(--transtition-duration-basic) background-color,
    var(--transtition-duration-basic) color,
    var(--transtition-duration-basic) border-color;

  &::placeholder {
    color: var(--color-light-900);
  }

  &:hover {
    border-color: var(--color-light-900);
  }

  &:active {
    border-color: var(--color-light-100);
  }

  &:focus {
    border-color: var(--color-accent-500);
  }

  &.error {
    border-color: var(--color-danger-500);
  }

  &:-webkit-autofill {
    box-shadow: inset 0 0 0 32px var(--color-dark-700) !important;

    -webkit-text-fill-color: var(--color-light-100);
  }

  &:disabled {
    border-color: var(--color-dark-100);
    color: var(--color-dark-100);

    &::placeholder {
      color: var(--color-dark-100);
    }

    &:-webkit-autofill {
      -webkit-text-fill-color: var(--color-dark-100);
    }
  }

  &[data-icon*='start'] {
    padding-left: 42px;
  }

  &[data-icon*='end'] {
    padding-right: 42px;
  }
}

.disabled {
  color: var(--color-dark-100);
}

.errorText {
  @include t.uik-typography-error;
}
