@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';

.selectWrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 0.2rem;
}
.hoverContainer {
  position: relative;
  display: inline-block;
  width: fit-content;
}
.label {
  color: var(--color-light-900);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
}

.selectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-light-900);
  padding: 0.5rem 1rem;
  font-size: var(--font-size-14);
  width: 210px;
  cursor: pointer;
  outline: none;
  gap: 5px;
  color: var(--color-light-100);
  background-color: transparent;

  &:focus {
    border-color: var(--color-accent-500);
  }
}

.triggerDisabled {
  border-color: var(--color-dark-100);
  color: var(--color-light-900);
  cursor: not-allowed;

  &:hover {
    border-color: var(--color-dark-100);
  }
}

.triggerError {
  border-color: var(--color-danger-500);

  &:hover:not(:disabled) {
    border-color: var(--color-danger-500);
  }

  &:focus {
    border-color: var(--color-danger-500);
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  color: var(--color-light-100);
}

// Select.Content
.content {
  min-width: var(--radix-select-trigger-width);
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-light-100);
  z-index: 100;
  overflow: hidden;
}
.viewport {
  min-width: 200px;
  max-height: 210px;
  overflow-y: auto;
}
// Select.Item
.item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: var(--font-size-14);
  color: var(--color-light-100);
  cursor: pointer;
  user-select: none;
  outline: none;
  border-radius: 0.25rem;

  &:hover {
    color: var(--color-accent-500);
    background-color: var(--color-dark-300);
  }

  &:focus {
    color: var(--color-accent-500);
    background-color: var(--color-dark-300);
  }

  &[data-disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
