@use 'colors' as colors;

:root {
  // Font sizes
  --font-size-12: 0.75rem; // 12px
  --font-size-14: 0.875rem; // 14px
  --font-size-16: 1rem; // 16px
  --font-size-18: 1.125rem; // 18px
  --font-size-20: 1.25rem; // 20px
  --font-size-22: 1.375rem; // 22px
  --font-size-26: 1.625rem; // 26px
  --font-size-28: 1.75rem; // 28px

  // Line heights
  --line-height-100: 1; // 100%
  --line-height-20: 1.25rem; // 20px
  --line-height-24: 1.5rem; // 24px
  --line-height-25: 1.5625rem; // 25px
  --line-height-35: 2.1875rem; // 35px
  --line-height-36: 2.25rem; // 36px

  // Font weights
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@mixin typography($fontSize, $fontWeight, $lineHeight, $color: colors.$text-color) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $color;
}

@mixin uik-typography-error {
  @include typography(
      var(--font-size-s),
      var(--font-weight-400),
      var(--line-height-m),
      var(--color-danger-500)
  );
}
