@use '../../../../../shared/styles/_colors.scss';
@use '../../../../../shared/styles/_typography.scss';

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.title {
  @include typography.uik-h1-typography;
}

.subtitle {
  @include typography.uik-regular-text-16;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formWrapper {
  display: flex;
  align-items: center;
  max-width: 230px;
  text-align: start;
}

.button {
  margin-top: 2rem;
  &:hover {
    border: 4px;
  }
}
.smallText {
  margin-top: 2rem;
  font-size: 14px !important;
}
.loader {
  width: 70px;
  height: 70px;
  border: 4px solid rgba(74, 144, 226, 0.2);
  border-top-color: var(--color-accent-500);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.illustration {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustrationImage {
  width: 100%;
  height: auto;
  max-width: 500px;
}
