@use '../../../styles/_colors.scss';

/* Контейнер календаря */

.rdp-month {
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  padding: 16px 24px;
  min-width: 300px;
  min-height: 350px;
}

.rdp-month_caption {
  min-height: 36px;
  margin: 16px 24px 12px 24px;
}

.rdp-nav {
  inset-block-start: 31px;
  inset-inline-end: 36px;
  position: absolute;
}
.rdp-button_next, .rdp-button_previous {
  background-color: var(--color-dark-100);
  border-radius: 50%;
}
.rdp-chevron {
  fill: var(--color-light-100);
}
.rdp-selected .rdp-day_button {
  border-radius: 0;
  background-color: var(--color-accent-700);
  border: none;
}
// убираю белый фон
.rdp-range_start, .rdp-range_end, .rdp-range_middle {
  background: var(--color-accent-900);
  border-radius: 50%;
  position: relative;
}

//конец диапазона
.rdp-range_end .rdp-day_button {
  border-radius: 50%;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    z-index: -1;
  }
}


//начало диапазона
.rdp-range_start .rdp-day_button {
  position: relative;
  border-radius: 50%;
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    z-index: -1;
  }
}
//середина диапазона
.rdp-range_middle .rdp-day_button {
  background: var(--color-accent-900);
  border-radius: 0;
  position: relative;
  z-index: 0;
}
.rdp-month_grid .table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}
