@use '@/shared/styles/typography' as t;

.header {
  position: fixed;
  z-index: var(--z-index-header);
  top: 0;
  right: 0;
  left: 0;

  margin: 0 auto;
  border-bottom: 1px solid var(--color-dark-100);

  background: var(--color-dark-900);
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  padding: 0 60px;

  @media (width <= 768px) {
    padding: 0 15px;
  }
}

.buttonWrapper {
  display: flex;
  gap: 24px;
  margin-left: 36px;

  @include t.uik-h3-typography;
}


.selectBox {
  display: flex;
  align-items: center;

  svg {
    cursor: pointer;
  }

  select {
    margin-right: 36px;
    color: black;
  }
}
