@use '../../../../shared/styles/colors';
@use '../../../../shared/styles/typography';

.inputWrapper {
  display: flex;
  padding: 0 10px ;
  justify-content: space-between;
}

.input {
  flex: 1;
  background: none;
  border: none;
}

.submitButton {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
