@use '../../../../shared/styles/colors';
@use '../../../../shared/styles/typography';

.inputWrapper {
  display: flex;
  padding: 18px 24px;
}

.input {
  flex: 1;
  background: none;
  border: none;
}

.submitButton {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}
