@use 'shared/styles/typography' as t;

.box {
  display: flex;
  justify-content: center;
  margin: 72px 0 36px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 378px;
}

.title {
  margin-bottom: 37px;
  text-align: center;
}

.text {
  @include t.uik-regular-text-14;

  display: inline-block;
  margin-top: 7px;
  color: var(--color-light-900);
}

.buttonBox {
  button {
    margin: 17px 0 24px;
  }

  a {
    display: inline-block;
    width: 100%;
    height: 36px;
  }
}

.dialog {
  button {
    margin-top: 18px;
  }
}

.recaptcha {
  width: 100%;
  max-width: 300px;
  min-height: 84px;
  margin: 24px auto;
}
