@use '@/shared/styles/typography' as *;

.container {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 972px;
  height: 72px;
  margin-bottom: 40px;
  margin-inline: auto;
  padding: 12px 24px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  background-color: var(--color-dark-500);
}

.label {
  @include uik-h2-typography;

  width: 155px;
  height: 24px;
  color: var(--color-light-100);
}

.numbers-container {
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  align-items: center;

  width: 203px;
  height: 48px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  background-color: var(--color-dark-700);
}

.digit-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 100%;

  color: var(--color-light-100);
  text-align: center;
  letter-spacing: 0;

  @include uik-h2-typography;
}

.divider {
  width: 1px;
  height: 30px;
  margin: 0;
  background-color: var(--color-dark-300);
}
