//@use 'src/shared/styles/_typography' as t;

@use 'src/shared/styles/typography' as t;

.container {
  display: flex;
  flex-direction: column;
}

.label {
  cursor: pointer;

  display: flex;
  gap: 8px;
  align-items: center;

  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  &.tight {
    gap: 8px;
    align-items: flex-start;
  }

  &.disabled {
    cursor: default;
    color: var(--color-light-900);
  }
}

.root {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;
  border: 2px solid var(--color-light-500);
  border-radius: 2px;

  background-color: transparent;

  &:focus {
    box-shadow: 0 0 1px 7px var(--color-dark-300);
  }

  &:disabled {
    cursor: initial;
    border-color: var(--color-light-900);
  }

  &[data-state='checked']:disabled {
    background-color: var(--color-checkbox-disabled);
  }
}

.buttonWrapper {
  cursor: pointer;

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background-color: rgb(255 255 255 / 0%);

  &.tight {
    margin: -6px;
  }

  &.disabled {
    cursor: initial;
  }

  &:focus-within,
  &:hover:not(.disabled),
  &:hover:not(.disabled) .root:not([data-state='checked']) {
    background-color: var(--color-bg-focus);
  }

  &:active:not(.disabled) {
    background-color: var(--color-bg-primary-active);
  }
}

.indicator {
  width: 24px;
  height: 24px;
}

.errorText {
  @include t.uik-typography-error;
}
